.aside__gratuitos {
    grid-area: aside;
    width: map-get($estilosOfertasGratuitos, width);
    margin-top: map-get($estilosOfertasGratuitos, margin-top);
    margin-bottom: map-get($estilosOfertasGratuitos, margin-bottom);
    margin-right: auto;
    margin-left: 83px;
}

.aside__image--gratuitos {
    background-image: url('../imagenes/fortnite.png');
    width: map-get($estilosOfertasGratuitos, width-image-description);
    height: map-get($estilosOfertasGratuitos, height-image);
    border-top-left-radius: $borderRadiusGrande;
    border-top-right-radius: $borderRadiusGrande;
    margin-top: 10px;
}

.aside__description--gratuitos {
    display: flex;
    background-color: $colorSecundario;
    width: map-get($estilosOfertasGratuitos, width-image-description);
    height: map-get($estilosOfertasGratuitos, height-description);
    border-bottom-left-radius: $borderRadiusGrande;
    border-bottom-right-radius: $borderRadiusGrande;
    padding: 9px 15px 9px 15px;
}

.aside__p--gratuitos {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}