#section__contactanos {
    grid-area: section__oneColumn;
    width: 943px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
    margin-bottom: 107px;
    transition: all 1s;
}

.section__image--contact {
    margin-top: auto;
    margin-bottom: auto;
}

.section__image--contactEmail {
    @include sizes(512px, 512px);
    transition: all 1s;
}

.section__form{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 1s;
}

.input__contactUs {
    background-color: $colorSecundario;
    @include sizes(348px, 40px);
    border-radius: $borderRadiusGrande;
    margin-top: 20px;
    border-style: none;
    font-size: 1.6rem;
    transition: all 1s;
}

.input__contactUs--textArea {
    height: 203px;
    transition: all 1s;
}

.buttons__form {
    @include sizes(160px, 30px);
    border-radius: $borderRadiusGrande;
    background-color: $colorTerciario;
    color: $colorCuaternario;
    margin-top: 20px;
    font-weight: bold;
    border-style: none;
    font-size: 1.2rem;
    transition: all 1s;
    &:hover {
        background-color: #d6775f;
    }
}

.mb-3 {
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}