.header__image{
    grid-area: header;
    background: url('../imagenes/zelda-paisaje-xl.jpg') no-repeat center;
    @include sizes(100%, 70.2rem);
    background-size: cover; 
}

.header__image--oneColumn{
    grid-area: header__oneColumn;
    background: url('../imagenes/zelda-paisaje-xl.jpg') no-repeat center;
    @include sizes(100%, 70.2rem);
    background-size: cover; 
}

.header__socialMedia {
    background-color: $colorPrincipal;
    @include sizes(100%, 40px);
    padding-top: 4px;
    padding-bottom: 4px;
}

.header__socialMedia--nav {
    background-color: $colorSecundario;
    @include sizes(153px, 32px);
    border-radius: 7px;
    display: flex;
    flex-direction: row;    
    margin-right: 82px;
    margin-left: auto;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: $ajustePadding;
}

.header__socialMedia--img {
    border-radius: 7px;
    transition: all 1s;
    &:hover {
        background-color: #DC9D34;
    }
}

.header__logoTittle {
    text-align: center;
    margin-top: 68px;
    margin-bottom: 25px;
    animation-duration: 4s;
    animation-name: aparecer;
    animation-iteration-count: 1;
}

 @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

 .header__separador--img {
    @include sizes(100%, 137px);
    margin-top: 150px;
}
