.section__index{
    grid-area: section;
    width: 552px;
    margin: 41px 4% 107px auto;
    transition: all 1s;
}

.section__image--index {
    margin-top: 72px;
}

.image--index {
    width: map-get($estilosSectionIndex, width);
    height: map-get($estilosSectionIndex, height);
    border-radius: $borderRadiusGrande;    
}

.section__description--index{
    width: map-get($estilosSectionIndex, width);
    height: auto;
    border-radius: $borderRadiusGrande;
    background-color: $colorCuaternario;
    margin-top: 72px;
    margin-left: auto;
    padding-left: 21px;
    padding-top: 15px;
}

.section__h3--index {
    font-size: 1.3rem;
    font-weight: bold;
    width: auto;
}

.section__p--index {
    font-size: 1.1rem;
    margin-top: 6px;
    margin-right: 33px;
}