#grid__ofertasGratuitos {
    display: grid;
    grid-template-areas:
        "header header"
        "section aside"
        "footer footer";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 189px;
}

.section__ofertas {
    grid-area: section;
    width: map-get($estilosOfertasGratuitos, width);
    margin-top: map-get($estilosOfertasGratuitos, margin-top);
    margin-bottom: map-get($estilosOfertasGratuitos, margin-bottom);
    margin-left: auto;
    margin-right: 83px;
    transition: all 1s;
}

.container__ofertasGratuitos {
    background-color: $colorPrincipal;
    width: map-get($estilosOfertasGratuitos, width);
    border-radius: $borderRadiusGrande;
    margin-top: 70px;
    padding: 10px 10px 10px 10px;
}

.section__image--ofertas {
    margin-top: 10px;
}

.image--ofertas {
    width: map-get($estilosOfertasGratuitos, width-image-description);
    height: map-get($estilosOfertasGratuitos, height-image);
    border-top-left-radius: $borderRadiusGrande;
    border-top-right-radius: $borderRadiusGrande;
}

.section__description--ofertas {
    display: flex;
    background-color: $colorCuaternario;
    width: 343px;
    height: map-get($estilosOfertasGratuitos, height-description);
    border-bottom-left-radius: $borderRadiusGrande;
    border-bottom-right-radius: $borderRadiusGrande;
    padding: 9px 15px 9px 15px;
}

.section__p--ofertas {
    @include sizes(auto, 23px);
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: auto;
    margin-top: auto;
}

.section__sale {
    @include sizes(125px, 23px);
    background-color: $colorSecundario;
    border-radius: 6px;
    margin-left: auto;
    text-align: center;
    padding: $ajustePadding;
}

.section__p--sale {
    font-size: 1.6rem;
    font-weight: bold;
    height: 23px;
    margin-bottom: auto;
    margin: 0px 0px 0px 0px;
}