#section__plataformas {
    grid-area: section__oneColumn;
    width: 941px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 41px;
    margin-bottom: 107px;
    transition: all 1s;
}

.section__h2--plataformas {
    margin-top: 60px;
    text-align: left;
}

.section__image--plataformas {
    margin-top: 72px;
}

.section__image--plataformas--reverse {
    @extend .section__image--plataformas;
}

.image--plataformas {
    @include sizes(441px, 280px);
    border-top-left-radius: $borderRadiusGrande;
    border-bottom-left-radius: $borderRadiusGrande;
}

.section__description--plataformas {
    @include sizes(500px, 280px);
    background-color: $colorCuaternario;
    margin-top: 72px;
    padding-left: 40px;
    border-top-right-radius: $borderRadiusGrande;
    border-bottom-right-radius: $borderRadiusGrande;
}

.section__fecha {
    background-color: $colorSecundario;
    @include sizes(73px, 23px);
    border-radius: 6px;
    margin: 6px 6px 8px auto;
}

.section__p--plataformas--fecha {
    font-size: 1.2rem;
    text-align: center;
}

.section__h3--plataformas {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 79px;
    @include sizes(auto, auto);
}

.section__p--plataformas {
    font-size: 1.5rem;
    margin-top: 8px;
    margin-right: 20px;
    margin-bottom: 21px;
    @include sizes(auto, auto);
}

.section__description--plataformas--reverse {
    @extend .section__description--plataformas;
    padding-left: 0px;
    padding-right: 40px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: $borderRadiusGrande;
    border-bottom-left-radius: $borderRadiusGrande;
}

.fecha--reverse {
    margin: 6px auto 8px 6px;
}

.h3--reverse {
    margin-right: 0px;
    margin-left: 79px;
    text-align: right;
}

.p--reverse {
    margin-right: 0px;
    margin-left: 20px;
    text-align: right;
}

.image--plataformas--reverse {
    @extend .image--plataformas;
    border-radius: 0px $borderRadiusGrande $borderRadiusGrande 0px;
}