$tipografiaRoboto: 'RobotoMono';
$tipografiaOswald: 'Oswald';

$colorPrincipal: #4F8A8B;
$colorSecundario: #FFCB74;
$colorTerciario: #EA907A;
$colorCuaternario: #F4F6FF;

$borderRadiusGrande: 14px;

$ajustePadding: 0px 0px 0px 0px;