@import 'variables';
@import 'global';
@import 'header';
@import 'nav';
@import 'sectionIndex';
@import 'asideIndex';
@import 'footer';
@import 'sectionMasVendidos';
@import 'sectionPlataformas';
@import 'sectionOfertas';
@import 'asideGratuitos';
@import 'contactanos';

@media screen and (max-width: 576px) {

    #grid {
        display: grid;
        grid-template-areas:
            "header"
            "section"
            "aside"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 189px;
    }

    .header__image{
        grid-area: header;
    }

    .header__socialMedia--nav { 
        margin-right: 0px;
        margin-left: 6px;
        justify-content: space-around;
        padding: $ajustePadding;
    } 

    .header__logoTittle {
        text-align: center;
        margin-top: 53px;
    }
    
    .header__logoTittle--img{
        width: 283px;
        height: 108px;
    }

    .header__nav {
        width: 60%;
        height: 28px;
        text-align: left;
        position: static;
    }

    .container-fluid {
        width: 100%;
    }

    .header__separador--img {
        margin-top: 371px;
    }

    .nav-link {
        margin-left: 10px;
    }

    footer {
        grid-area: footer;
    }

    /* INDEX */

    .section__index{
        grid-area: section;
        width: 245px;
        margin: 28px auto 0px auto;
        transition: all 1s;
    }

    .section__container {
        flex-direction: column;
        margin-top: 20px;
        transition: all 1s;
    }

    .section__image--index {
        margin-top: 0px;
    }

    .image--index {
        width: 245px;
        height: 134px;
        border-radius: 0px;
        border-top-left-radius: $borderRadiusGrande;
        border-top-right-radius: $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__description--index{
        width: 245px;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 19px;
        padding-top: 10px;
        border-radius: 0px;
        border-bottom-left-radius: $borderRadiusGrande;
        border-bottom-right-radius: $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__h3--index {
        font-size: 1.25rem;
        width: auto;
        transition: all 1s;
    }
    
    .section__p--index {
        font-size: 0.8rem;
        width: auto;
        height: auto;
        transition: all 1s;
    }

    .aside__index {
        grid-area: aside;
        margin-left: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        transition: all 1s;
    }
    
    .aside__container--index {
        margin-top: 24px;
        transition: all 1s;
    }
    
    /* OFERTAS Y GRATUITOS*/

    #grid__ofertasGratuitos {
        display: grid;
        grid-template-areas:
            "header"
            "section"
            "aside"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 189px;
    }
    
    .section__ofertas {
        grid-area: section;
        margin-top: 28px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        transition: all 1s;
    }

    .section__h2{
        margin-top: 0px;
        transition: all 1s;
    }
    
    .container__ofertasGratuitos {
        margin-top: 24px;
        transition: all 1s;
    }
    
    .aside__gratuitos {
        grid-area: aside;
        margin-top: 61px;
        margin-bottom: 61px;
        margin-right: auto;
        margin-left: auto;
        transition: all 1s;
    }

    /* MAS VENDIDOS */

    #section__masVendidos {
        width: 300px;
        transition: all 1s;
    }

    .container__masVendidos {
        flex-direction: column;
        justify-content: center;
        transition: all 1s;
    }

    .section__video {
        @include sizes(300px, 300px);
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        transition: all 1s;
    }

    .section__description--masVendidos {
        @include sizes(300px, auto);
        margin-top: 0px;
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transition: all 1s;
    }

    .section__precio {
        margin-bottom: 25px;
        transition: all 1s;
    }

    
    /* CONTACTANOS */

    #section__contactanos {
        width: 245px;
        transition: all 1s;
    }

    .section__image--contactEmail {
        display: none;
        transition: all 1s;
    }

    .section__form {
        margin-right: auto;
        transition: all 1s;
    }

    .input__contactUs {
        @include sizes(245px, 40px);
        margin-top: 10px;
        transition: all 1s;
    }

    .container__contact{
        flex-direction: row;
        transition: all 1s;
    }

    .buttons__form {
        @include sizes(114px, 30px);
        font-size: 1rem;
        transition: all 1s;
    }

    /* PLATAFORMAS */

    #section__plataformas {
        width: 280px;
        transition: all 1s;
    }
    
    .container__plataformas {
        flex-direction: column;
        align-items: center;
        transition: all 1s;
    }
    
    .image--plataformas {
        @include sizes(280px, 178px);
        border-radius: $borderRadiusGrande $borderRadiusGrande 0px 0px;
        transition: all 1s;
    }
    
    .image--plataformas--reverse {
        border-radius: 0px 0px $borderRadiusGrande $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__image--plataformas--reverse {
        margin-top: 0px;
        transition: all 1s;
    }
    
    .section__description--plataformas {
        @include sizes(280px, auto);
        margin-top: 0px;
        margin-bottom: 52px;
        border-radius: 0px 0px $borderRadiusGrande $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__description--plataformas--reverse {
        margin-bottom: 0px;
        border-radius: $borderRadiusGrande $borderRadiusGrande 0px 0px;
        transition: all 1s;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {

    #grid {
        display: grid;
        grid-template-areas:
            "header header"
            "section aside"
            "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 189px;
    }

    .header__image{
        grid-area: header;
    }

    .header__socialMedia--nav { 
        margin-right: 0px;
        margin-left: 6px;
        justify-content: space-around;
        padding: $ajustePadding;
        transition: all 1s;
    } 

    .header__logoTittle {
        text-align: center;
        margin-top: 53px;
    }
    
    .header__logoTittle--img{
        width: 460px;
        height: 168px;
    }

    .header__nav {
        width: 60%;
        height: 28px;
        text-align: left;
        position: static;
    }

    .container-fluid {
        width: 100%;
    }

    .header__separador--img {
        margin-top: 290px;
    }

    .nav-link {
        margin-left: 10px;
    }

    footer {
        grid-area: footer;
    }

    /* INDEX */

    .section__index{
        grid-area: section;
        width: 245px;
        margin: 28px 4% 60px auto;
        transition: all 1s;
    }

    .section__container {
        flex-direction: column;
        margin-top: 20px;
        transition: all 1s;
    }

    .section__image--index {
        margin-top: 0px;
    }

    .image--index {
        width: 245px;
        height: 134px;
        border-radius: 0px;
        border-top-left-radius: $borderRadiusGrande;
        border-top-right-radius: $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__description--index{
        width: 245px;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 19px;
        padding-top: 10px;
        border-radius: 0px;
        border-bottom-left-radius: $borderRadiusGrande;
        border-bottom-right-radius: $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__h3--index {
        font-size: 1.25rem;
        width: auto;
        transition: all 1s;
    }
    
    .section__p--index {
        font-size: 0.8rem;
        width: auto;
        height: auto;
        transition: all 1s;
    }

    .aside__index {
        grid-area: aside;
        margin-left: 4%;
        margin-top: 28px;
        margin-bottom: auto;
        transition: all 1s;
    }
    
    .aside__container--index {
        margin-top: 24px;
        transition: all 1s;
    }

    /* MAS VENDIDOS */

    #section__masVendidos {
        width: 476px;
        transition: all 1s;
    }

    .container__masVendidos {
        flex-direction: column;
        justify-content: center;
        transition: all 1s;
    }

    .section__video {
        @include sizes(476px, 300px);
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        transition: all 1s;
    }

    .section__description--masVendidos {
        margin-top: 0px;
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        transition: all 1s;
    }

    .section__precio {
        margin-bottom: 25px;
        transition: all 1s;
    }

    /* OFERTAS Y GRATUITOS */

    #grid__ofertasGratuitos {
        display: grid;
        grid-template-areas:
            "header"
            "section"
            "aside"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto 189px;
    }
    
    .section__ofertas {
        grid-area: section;
        margin-top: 28px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        transition: all 1s;
    }

    .section__h2{
        margin-top: 0px;
        transition: all 1s;
    }
    
    .container__ofertasGratuitos {
        margin-top: 24px;
        transition: all 1s;
    }
    
    .aside__gratuitos {
        grid-area: aside;
        margin-top: 61px;
        margin-bottom: 61px;
        margin-right: auto;
        margin-left: auto;
        transition: all 1s;
    }

    /* CONTACTANOS */

    #section__contactanos {
        width: 500px;
        transition: all 1s;
    }

    .section__image--contactEmail {
        @include sizes(212px, 212px);  
        transition: all 1s;
    }

    .input__contactUs {
        @include sizes(248px, 40px);
        margin-top: 10px;
        transition: all 1s;
    }

    .container__contact{
        flex-direction: row;
        transition: all 1s;
    }

    .buttons__form {
        @include sizes(114px, 30px);
        font-size: 1rem;
        transition: all 1s;
    }

    /* PLATAFORMAS */

    #section__plataformas {
        width: 500px;
        transition: all 1s;
    }
    
    .container__plataformas {
        flex-direction: column;
        align-items: center;
        transition: all 1s;
    }
    
    .image--plataformas {
        @include sizes(500px, 318px);
        border-radius: $borderRadiusGrande $borderRadiusGrande 0px 0px;
        transition: all 1s;
    }
    
    .image--plataformas--reverse {
        border-radius: 0px 0px $borderRadiusGrande $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__image--plataformas--reverse {
        margin-top: 0px;
        transition: all 1s;
    }
    
    .section__description--plataformas {
        margin-top: 0px;
        margin-bottom: 52px;
        border-radius: 0px 0px $borderRadiusGrande $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__description--plataformas--reverse {
        margin-bottom: 0px;
        border-radius: $borderRadiusGrande $borderRadiusGrande 0px 0px;
        transition: all 1s;
    }
        
}

@media screen and (max-width: 991px) and (min-width: 769px) {

    #grid {
        display: grid;
        grid-template-areas:
            "header header"
            "section aside"
            "footer footer";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 189px;
    }

    .header__image{
        grid-area: header;
    }

    .header__logoTittle {
        text-align: center;
        margin-top: 53px;
    }
    
    .header__logoTittle--img{
        width: 600px;
        height: 220px;
    }

    .header__nav {
        width: 60%;
        height: 28px;
        text-align: left;
        position: static;
    }

    .container-fluid {
        width: 100%;
    }

    .nav-link {
        margin-left: 10px;
    }

    .header__separador--img {
        margin-top: 220px;
    }

    footer {
        grid-area: footer;
    }

    /* INDEX */

    .section__index{
        grid-area: section;
        width: 245px;
        margin: 28px 4% 60px auto;
        transition: all 1s;
    }

    .section__container {
        flex-direction: column;
        margin-top: 20px;
        transition: all 1s;
    }

    .section__image--index {
        margin-top: 0px;
    }

    .image--index {
        width: 245px;
        height: 134px;
        border-radius: 0px;
        border-top-left-radius: $borderRadiusGrande;
        border-top-right-radius: $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__description--index{
        width: 245px;
        height: auto;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 19px;
        padding-top: 10px;
        border-radius: 0px;
        border-bottom-left-radius: $borderRadiusGrande;
        border-bottom-right-radius: $borderRadiusGrande;
        transition: all 1s;
    }
    
    .section__h3--index {
        font-size: 1.25rem;
        width: auto;
        transition: all 1s;
    }
    
    .section__p--index {
        font-size: 0.8rem;
        width: auto;
        height: auto;
        transition: all 1s;
    }

    .aside__index {
        grid-area: aside;
        margin-left: 4%;
        margin-top: 28px;
        margin-bottom: auto;
        transition: all 1s;
    }
    
    .aside__container--index {
        margin-top: 24px;
        transition: all 1s;
    }

    /* Mas Vendidos */

    #section__masVendidos {
        width: 767px;
        transition: all 1s;
    }

    .container__masVendidos {
        flex-direction: row;
        justify-content: center;
        transition: all 1s;
    }

    .section__video {
        @include sizes(367px, auto);
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        transition: all 1s;
    }

    .section__description--masVendidos {
        @include sizes(400px, auto);
        margin-left: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        transition: all 1s;
    }

    .section__precio {
        margin-bottom: 25px;
        transition: all 1s;
    }

    /* OFERTAS Y GRATUITOS */

    .section__ofertas {
        margin-right: 20px;
        transition: all 1s;
    }

    .aside__gratuitos {
        margin-left: 20px;
        transition: all 1s;
    }

    /* CONTACTANOS */

    #section__contactanos {
        width: 700px;
        transition: all 1s;
    }

    .section__image--contactEmail {
        @include sizes(312px, 312px);  
        transition: all 1s;
    }

    .input__contactUs {
        margin-top: 10px;
        transition: all 1s;
    }

    .container__contact{
        flex-direction: row;
    }

    /* PLATAFORMAS */

    #section__plataformas {
        width: 700px;
        transition: all 1s;
    }

    .container__plataformas {
        flex-direction: column;
        align-items: center;
        transition: all 1s;
    }

    .image--plataformas {
        @include sizes(500px, 318px);
        border-radius: $borderRadiusGrande $borderRadiusGrande 0px 0px;
        transition: all 1s;
    }

    .image--plataformas--reverse {
        border-radius: 0px 0px $borderRadiusGrande $borderRadiusGrande;
    }

    .section__image--plataformas--reverse {
        margin-top: 0px;
        transition: all 1s;
    }

    .section__description--plataformas {
        margin-top: 0px;
        margin-bottom: 52px;
        border-radius: 0px 0px $borderRadiusGrande $borderRadiusGrande;
        transition: all 1s;
    }

    .section__description--plataformas--reverse {
        margin-bottom: 0px;
        border-radius: $borderRadiusGrande $borderRadiusGrande 0px 0px;
        transition: all 1s;
    }
    
}